*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscodetest.txt
.*py
.venv
.venv_pyvenv.cfg
__pycache__/
*.pyc
.gradle_home/
